html {
  min-height: 150%;
}

body {
  background-color: #1f1f2e;
  color: white;
  font-family: "Arial", "Open Sans";
}

a {
  text-decoration: none;
  color: #0088cc;
}

a:hover {
  color: #1ab2ff;
}

h1, h2, h3 {
  font-family: "Arial Black";
}

.coloredDownText {
  color: #5B587F;
}

button, input[type=button] {
  background-color: #666699;
  border: solid #47476b;
  border-radius: 5%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover, input[type=button]:hover, a:hover {
  cursor: pointer;
}

button:active, input[type=button]:active, a:active {
  background-color: #7979b4;
}

button:hover.uncraftableItem, input[type=button]:hover.uncraftableItem, a:hover.uncraftableItem {
  cursor: not-allowed !important;
}

button:hover.unownedStation, input[type=button]:hover.unownedStation, a:hover.unownedStation {
  cursor: not-allowed !important;
}

.selectedStation {
  background-color: #7979b4 !important;
  cursor: default !important;
}

.unownedItem {
  background-color: #5B587F !important;
  cursor: not-allowed !important;
}

.unownedStation {
  background-color: #5B587F !important;
  cursor: not-allowed !important;
}

.uncraftableItem {
  background-color: #5B587F !important;
  cursor: not-allowed !important;
}

#mainCont {
  float: left;
  height: 50%;
  margin-left: 40%;
}

#mainMenuCont {
  float: left;
  height: 50%;
  margin-left: 40%;
}

#choicesTable {
  margin-top: 25%;
}

#outcomeData {
  margin-top: 10%;
  text-align: center;
}

#itemsTablesContainer {
  margin-left: -33%;
  text-align: center;
}

#itemsTable {
  float: left;
}

#craftingContainer {
  float: left;
  margin-left: 10%;
}

#craftablesTable {
  clear: both;
  margin-top: 5%;
}

#mMovePlayer, #mVSicon, #mMoveCPU, #mPlayer, #mCPU, #mDraw {
  float: left;
  width: 100px;
  height: 100px;
}

#mWinPlayer_IMG, #mWinCPU_IMG {
  position: relative;
  left: 50px;
  width: 50px;
  height: 50px;
}

#mWinPlayer_IMG {
  left: -20px;
}

#mWinsPlayer, #mWinsCPU, #mDraws {
  text-align: center;
  font-family: "Arial Black";
}

#mWinsPlayer {
  color: #80ffaa;
}

#mDraws {
  color: #cccc00;
}

#mWinsCPU {
  color: #ff6666;
}

td {
  float: left;
  width: 100px;
  height: 100px;
}

.tdButton {
  height: 100px;
  width: 100px;
  margin-top: -2px;
}

.tdFiller {
  height: 100px;
  width: 100px;
}

.tdItem {
  background-color: #666699;
  border: solid #47476b;
  border-radius: 5%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.tdText {
  margin-top: 40%;
  font-family: "Arial Black";
}

.tdImg {
  margin-top: 20%;
  height: 50px;
  width: 50px;
}

#startGameButton {
  background-color: #666699;
  color: white;
  width: 150px;
  height: 60px;
  font-size: 30pt;
  font-family: "Arial Black";
}

#logoCont {
  float: left;
  width: 70%;
  margin-left: 16%;
  margin-bottom: 5%;
  text-align: justify;
}

#logo {
  margin-left: -3%;
  width: 128px;
  height: 128px;
}

#title {
  font-family: "Arial Black";
  margin-left: -12%;
}

/*.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}*/
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  /* Position the tooltip */
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip_Bot .tooltiptext_Bot {
  top: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip_Top .tooltiptext_Top {
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip_Right .tooltiptext_Right {
  top: -5px;
  left: 105%;
}

.tooltip_Left .tooltiptext_Left {
  top: -5px;
  right: 105%;
}
/*# sourceMappingURL=style.css.map */